.InstaImage {
    height: 350px;
    background-color: black;
    display: flex;
}

.Image {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 320px) {
    .InstaImage {
        height: 320px;
    }
}